################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/
/WebApp/.vs/WebApp/FileContentIndex/*
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.DTOs.dll
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.DTOs.pdb
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.pdb
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.GeneratedMSBuildEditorConfig.editorconfig
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.dll
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.csproj.FileListAbsolute.txt
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.csproj.CoreCompileInputs.cache
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.csproj.AssemblyReference.cache
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.assets.cache
/WebApp/WebApp.DTOs/obj/WebApp.DTOs.csproj.nuget.dgspec.json
/WebApp/WebApp.DTOs/obj/project.nuget.cache
/WebApp/WebApp.DTOs/obj/project.assets.json
/WebApp/WebApp.Global/bin/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.Global/bin/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.GeneratedMSBuildEditorConfig.editorconfig
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.csproj.FileListAbsolute.txt
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.assets.cache
/WebApp/WebApp.Global/obj/WebApp.Global.csproj.nuget.dgspec.json
/WebApp/WebApp.Global/obj/project.nuget.cache
/WebApp/WebApp.Global/obj/project.assets.json
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.UI.staticwebassets.runtime.json
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.UI.pdb
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.UI.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.DTOs.pdb
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.DTOs.dll
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.pdb
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.genruntimeconfig.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.GeneratedMSBuildEditorConfig.editorconfig
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.dll
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.csproj.FileListAbsolute.txt
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.csproj.CoreCompileInputs.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.csproj.AssemblyReference.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.assets.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/staticwebassets.pack.json
/WebApp/WebApp.UI/obj/Debug/net6.0/staticwebassets.development.json
/WebApp/WebApp.UI/obj/Debug/net6.0/staticwebassets.build.json
/WebApp/WebApp.UI/obj/WebApp.UI.csproj.nuget.dgspec.json
/WebApp/WebApp.UI/obj/project.nuget.cache
/WebApp/WebApp.UI/obj/project.assets.json
/WebApp/.vs/WebApp/FileContentIndex/adbe3c2a-7380-4e1e-a16a-016c819d42c4.vsidx
/WebApp/.vs/WebApp/FileContentIndex/48c3f5a8-7a39-4954-be3c-821b17dcdfed.vsidx
/WebApp/.vs/WebApp/FileContentIndex/1a02eb09-90de-4363-aaaa-328080e38648.vsidx
/WebApp/.vs/WebApp/FileContentIndex/0e8428b4-0194-4b6c-a2f8-3301ce107842.vsidx
/WebApp/.vs/WebApp/v17/.suo
/WebApp/WebApp.UI/obj/Debug/net6.0/project.razor.vs.json
/WebApp/.vs/ProjectEvaluation/webapp.metadata.v6.1
/WebApp/.vs/ProjectEvaluation/webapp.projects.v6.1
/WebApp/.vs/WebApp/DesignTimeBuild/.dtbcache.v2
/WebApp/.vs/WebApp/v17/.futdcache.v2
/WebApp/.vs/WebApp/v17/fileList.bin
/WebApp/WebApp.UI/obj/Debug/net6.0/ref/WebApp.UI.dll
/WebApp/WebApp.UI/obj/Debug/net6.0/refint/WebApp.UI.dll
/WebApp/WebApp.DTOs/bin/Release/net6.0
/WebApp/WebApp.DTOs/obj/Release/net6.0
/WebApp/WebApp.Global/bin/Release/net6.0
/WebApp/WebApp.Global/obj/Release/net6.0
/WebApp/WebApp.UI/.config
/WebApp/WebApp.UI/bin/Release/net6.0
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.MvcApplicationPartsAssemblyInfo.cs
/WebApp/WebApp.UI/obj/Release/net6.0/PubTmp/Out
/WebApp/WebApp.UI/obj/Release/net6.0
/WebApp/WebApp.UI/obj
/WebApp/WebApp.UI/Properties/PublishProfiles
/WebApp/WebApp.Global/obj/Debug/net6.0/ref/WebApp.Global.dll
/WebApp/WebApp.Global/obj/Debug/net6.0/refint/WebApp.Global.dll
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.csproj.CoreCompileInputs.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/staticwebassets/msbuild.WebApp.UI.Microsoft.AspNetCore.StaticWebAssets.props
/WebApp/WebApp.DTOs/obj/Debug/net6.0/ref/WebApp.DTOs.dll
/WebApp/WebApp.DTOs/obj/Debug/net6.0/refint/WebApp.DTOs.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/cs
/WebApp/WebApp.UI/bin/Debug/net6.0/de
/WebApp/WebApp.UI/bin/Debug/net6.0/es
/WebApp/WebApp.UI/bin/Debug/net6.0/fr
/WebApp/WebApp.UI/bin/Debug/net6.0/it
/WebApp/WebApp.UI/bin/Debug/net6.0/ja
/WebApp/WebApp.UI/bin/Debug/net6.0/ko
/WebApp/WebApp.UI/bin/Debug/net6.0/pl
/WebApp/WebApp.UI/bin/Debug/net6.0/pt-BR
/WebApp/WebApp.UI/bin/Debug/net6.0/ru
/WebApp/WebApp.UI/bin/Debug/net6.0/runtimes
/WebApp/WebApp.UI/bin/Debug/net6.0/tr
/WebApp/WebApp.UI/bin/Debug/net6.0/zh-Hans
/WebApp/WebApp.UI/bin/Debug/net6.0/zh-Hant
/WebApp/WebApp.UI/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Humanizer.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/libman.json
/WebApp/WebApp.UI/bin/Debug/net6.0/MessagePack.Annotations.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/MessagePack.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.Build.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.Build.Framework.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.NET.StringTools.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.Common.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.Configuration.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.Frameworks.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.LibraryModel.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.Packaging.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.ProjectModel.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.Protocol.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/NuGet.Versioning.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Composition.AttributedModel.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Composition.Convention.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Composition.Hosting.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Composition.Runtime.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Composition.TypedParts.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Drawing.Common.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Reflection.MetadataLoadContext.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Security.Permissions.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/System.Windows.Extensions.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.UI.deps.json
/WebApp/WebApp.DTOs/obj/WebApp.DTOs.csproj.nuget.g.props
/WebApp/WebApp.Global/obj/WebApp.Global.csproj.nuget.g.props
/WebApp/WebApp.UI/obj/WebApp.UI.csproj.nuget.g.props
/WebApp/.vs/ProjectEvaluation
