################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/
/WebApp/.vs/WebApp/FileContentIndex/*
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.DTOs.dll
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.DTOs.pdb
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.DTOs/bin/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.pdb
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.GeneratedMSBuildEditorConfig.editorconfig
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.dll
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.csproj.FileListAbsolute.txt
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.csproj.CoreCompileInputs.cache
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.csproj.AssemblyReference.cache
/WebApp/WebApp.DTOs/obj/Debug/net6.0/WebApp.DTOs.assets.cache
/WebApp/WebApp.DTOs/obj/WebApp.DTOs.csproj.nuget.dgspec.json
/WebApp/WebApp.DTOs/obj/project.nuget.cache
/WebApp/WebApp.DTOs/obj/project.assets.json
/WebApp/WebApp.Global/bin/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.Global/bin/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.GeneratedMSBuildEditorConfig.editorconfig
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.csproj.FileListAbsolute.txt
/WebApp/WebApp.Global/obj/Debug/net6.0/WebApp.Global.assets.cache
/WebApp/WebApp.Global/obj/WebApp.Global.csproj.nuget.dgspec.json
/WebApp/WebApp.Global/obj/project.nuget.cache
/WebApp/WebApp.Global/obj/project.assets.json
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.UI.staticwebassets.runtime.json
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.UI.pdb
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.UI.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.Global.pdb
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.Global.dll
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.DTOs.pdb
/WebApp/WebApp.UI/bin/Debug/net6.0/WebApp.DTOs.dll
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.pdb
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.genruntimeconfig.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.GeneratedMSBuildEditorConfig.editorconfig
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.dll
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.csproj.FileListAbsolute.txt
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.csproj.CoreCompileInputs.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.csproj.AssemblyReference.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/WebApp.UI.assets.cache
/WebApp/WebApp.UI/obj/Debug/net6.0/staticwebassets.pack.json
/WebApp/WebApp.UI/obj/Debug/net6.0/staticwebassets.development.json
/WebApp/WebApp.UI/obj/Debug/net6.0/staticwebassets.build.json
/WebApp/WebApp.UI/obj/WebApp.UI.csproj.nuget.dgspec.json
/WebApp/WebApp.UI/obj/project.nuget.cache
/WebApp/WebApp.UI/obj/project.assets.json
/WebApp/.vs/WebApp/FileContentIndex/adbe3c2a-7380-4e1e-a16a-016c819d42c4.vsidx
/WebApp/.vs/WebApp/FileContentIndex/48c3f5a8-7a39-4954-be3c-821b17dcdfed.vsidx
/WebApp/.vs/WebApp/FileContentIndex/1a02eb09-90de-4363-aaaa-328080e38648.vsidx
/WebApp/.vs/WebApp/FileContentIndex/0e8428b4-0194-4b6c-a2f8-3301ce107842.vsidx
/WebApp/.vs/WebApp/v17/.suo
/WebApp/WebApp.UI/obj/Debug/net6.0/project.razor.vs.json
/WebApp/.vs/ProjectEvaluation/webapp.metadata.v6.1
/WebApp/.vs/ProjectEvaluation/webapp.projects.v6.1
/WebApp/.vs/WebApp/DesignTimeBuild/.dtbcache.v2
/WebApp/.vs/WebApp/v17/.futdcache.v2
/WebApp/.vs/WebApp/v17/fileList.bin
/WebApp/WebApp.UI/obj/Debug/net6.0/ref/WebApp.UI.dll
/WebApp/WebApp.UI/obj/Debug/net6.0/refint/WebApp.UI.dll
