@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_AuthLayout";
}

<!--begin::Body-->
<div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12">
    <!--begin::Wrapper-->
    <div class="bg-body d-flex flex-column flex-center rounded-4 w-md-600px p-10">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column align-items-stretch h-lg-100 w-md-400px">
            <!--begin::Wrapper-->
            <div class="d-flex flex-center flex-column flex-column-fluid pb-15 pb-lg-20">
                <!--begin::Form-->
                <form class="form w-100" novalidate="novalidate" id="kt_new_password_form" data-kt-redirect-url="#" action="#">
                    <!--begin::Heading-->
                    <div class="text-center mb-11">

                        <img asp-append-version="true" class="theme-light-show mx-auto mw-100 w-100px w-lg-100px mb-10 mb-lg-10" src="assets/media/auth/agency.png" alt="" />

                        <!--begin::Title-->
                        <h1 class="text-gray-800 fw-bold mb-3">Setup New Password</h1>
                        <!--end::Title-->
                        <!--begin::Subtitle-->

                        <div class="mb-10 bg-light-info p-2">
                            <span class="text-info">
                                Enter your <strong>new password</strong> to continue.
                            </span>
                        </div>


                        <!--end::Subtitle=-->
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group=-->
                    <div class="fv-row mb-8" data-kt-password-meter="true">
                        <!--begin::Wrapper-->
                        <div class="mb-1">
                            <!--begin::Input wrapper-->
                            <div class="position-relative mb-3">
                                <input class="form-control bg-transparent" type="password" placeholder="Password" name="password" autocomplete="off" />
                                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                    <i class="ki-duotone ki-eye-slash fs-2"></i>
                                    <i class="ki-duotone ki-eye fs-2 d-none"></i>
                                </span>
                            </div>
                            <!--end::Input wrapper-->
                            <!--begin::Meter-->
                            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                            </div>
                            <!--end::Meter-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Hint-->
                        <div class="text-muted">Use 8 or more characters with a mix of letters, numbers & symbols.</div>
                        <!--end::Hint-->
                    </div>

                    <div class="fv-row mb-8">
                        <!--begin::Repeat Password-->
                        <input type="password" placeholder="Repeat Password" name="confirm-password" autocomplete="off" class="form-control bg-transparent" />
                        <!--end::Repeat Password-->
                    </div>

                    <!--end::Input group=-->
                    <!--begin::Submit button-->
                    <div class="d-grid mb-10">
                        <button type="button" id="kt_new_password_submit" class="btn btn-primary">
                            <!--begin::Indicator label-->
                            <span class="indicator-label">Submit</span>
                            <!--end::Indicator label-->
                            <!--begin::Indicator progress-->
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                            <!--end::Indicator progress-->
                        </button>
                    </div>
                    <!--end::Submit button-->
                    <!--begin::Sign up-->
                    <div class="text-gray-500 text-center fw-semibold fs-6">
                        Do you remember your password?
                        <strong><a href="/" class="text-gray-800">Log In</a></strong>
                    </div>
                    <!--end::Sign up-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Footer-->
            <div class="d-flex flex-center">

                <!--begin::Links-->
                <div class="d-flex fw-semibold fs-base gap-5">
                    <a href="../../demo1/dist/pages/team.html" target="_blank" class="text-gray-700">Terms & Conditions</a>
                    <span class="text-gray-700">|</span>
                    <a href="../../demo1/dist/pages/pricing/column.html" target="_blank" class="text-gray-700">Policy</a>
                    <span class="text-gray-700">|</span>
                    <a href="../../demo1/dist/pages/contact.html" target="_blank" class="text-gray-700">Contact Us</a>
                </div>
                <!--end::Links-->
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Wrapper-->
</div>
<!--end::Body-->
<!--begin::Custom Javascript(used for this page only)-->
<script src="assets/js/custom/authentication/reset-password/new-password.js"></script>
<!--end::Custom Javascript-->